* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

body {
    background-color: #DAE2DF;
    color: #3B3738;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 300%;
    border-bottom: 4px solid #775C9E;
    padding: 8px;
}

p {
    margin: .5em 3em; 
	padding: 10px; 
	text-align: center; 
    font-size: 125%;
}

nav {
    text-align: center;
    width: 200px; height: 25px;
    margin: 0 auto;
}

nav a {
    display: block;
    color: #4A306D;
    border: 1px solid #0E273C;
    padding: 2px 15px;
    text-decoration: none;
    transition: background-color .5s ease-in-out;
    line-height: 3em;
    white-space: nowrap;
    border-radius: 3px;
    margin: .5em 0em;
}

nav a:hover {
    background-color: #BF7FC4;
    color: #000;
}